body.main {
    background-color: rgba(209,209,209,255)
}
h1, h2, h3, p {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(49, 49, 49);
}
div {
    margin: auto;
    background-color: rgba(209,209,209,255);
    width: 300px;
    border: 15px solid rgb(49, 49, 49);
    padding: 50px;
    margin: 20px;
  }